<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LiBanque</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>packController.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertClient</display-name>
		<servlet-name>InsertClient</servlet-name>
		<servlet-class>packController.InsertClient</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>InsertCurrency</display-name>
		<servlet-name>InsertCurrency</servlet-name>
		<servlet-class>packController.InsertCurrency</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>packController.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTypeTransaction</display-name>
		<servlet-name>AddTypeTransaction</servlet-name>
		<servlet-class>packController.AddTypeTransaction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTypeAccount</display-name>
		<servlet-name>AddTypeAccount</servlet-name>
		<servlet-class>packController.AddTypeAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProfile</display-name>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>packController.UpdateProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>packController.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateAccount</display-name>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>packController.CreateAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateTransaction</display-name>
		<servlet-name>CreateTransaction</servlet-name>
		<servlet-class>packController.CreateTransaction</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>CreateTransfer</display-name>
		<servlet-name>CreateTransfer</servlet-name>
		<servlet-class>packController.CreateTransfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckUsername</display-name>
		<servlet-name>CheckUsername</servlet-name>
		<servlet-class>packController.CheckUsername</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateClient</display-name>
		<servlet-name>UpdateClient</servlet-name>
		<servlet-class>packController.UpdateClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteClient</display-name>
		<servlet-name>DeleteClient</servlet-name>
		<servlet-class>packController.DeleteClient</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCurrency</display-name>
		<servlet-name>UpdateCurrency</servlet-name>
		<servlet-class>packController.UpdateCurrency</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateTypeAccount</display-name>
		<servlet-name>UpdateTypeAccount</servlet-name>
		<servlet-class>packController.UpdateTypeAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateTypeTransaction</display-name>
		<servlet-name>UpdateTypeTransaction</servlet-name>
		<servlet-class>packController.UpdateTypeTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertClient</servlet-name>
		<url-pattern>/InsertClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertCurrency</servlet-name>
		<url-pattern>/InsertCurrency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTypeTransaction</servlet-name>
		<url-pattern>/AddTypeTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTypeAccount</servlet-name>
		<url-pattern>/AddTypeAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern>/CreateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTransaction</servlet-name>
		<url-pattern>/CreateTransaction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOffer</servlet-name>
		<url-pattern>/AddOffer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditOffer</servlet-name>
		<url-pattern>/EditOffer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOffer</servlet-name>
		<url-pattern>/DeleteOffer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateTransfer</servlet-name>
		<url-pattern>/CreateTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUsername</servlet-name>
		<url-pattern>/CheckUsername</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateClient</servlet-name>
		<url-pattern>/UpdateClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClient</servlet-name>
		<url-pattern>/DeleteClient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCurrency</servlet-name>
		<url-pattern>/UpdateCurrency</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTypeAccount</servlet-name>
		<url-pattern>/UpdateTypeAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTypeTransaction</servlet-name>
		<url-pattern>/UpdateTypeTransaction</url-pattern>
	</servlet-mapping>
</web-app>
